useDynLib(streamFPM)
exportPattern("^[[:alpha:]]+")
#exportPattern("^[^\\.]")
import("stream")
import("hash")
import("testthat")
import("methods")
import("arules")
import("bitops")
#importFrom(Rcpp, sourceCpp)
#importFrom(Rcpp, loadModule)
#importFrom(Rcpp, evalCpp)
export(get_patterns, print)
