import(stream)

export(
	DSD_MG,
  MGC_Linear,
  MGC_Function,
  MGC_Random,
  MGC_Noise,
  add_keyframe,
  remove_keyframe,
  get_keyframes,
  add_cluster,
  get_clusters,
  remove_cluster
)
  
S3method(add_cluster, DSD_MG)
S3method(reset_stream, DSD_MG)
S3method(get_points, DSD_MG)
S3method(get_clusters, DSD_MG)
S3method(print, DSD_MG)
S3method(remove_cluster, DSD_MG)
S3method(print, MGC)
S3method(print, MGC_Linear)
S3method(add_keyframe, MGC_Linear)
S3method(get_keyframes, MGC_Linear)
S3method(remove_keyframe, MGC_Linear)