import(rJava)
import(MASS)

export(cluster,
       DSC_DenStream,
       DSC_CobWeb,
       DSC_Clustream,
       DSC_ClusTree,
       DSC_StreamKM,
       convertParams,
       getCenters,
       getPoints,
       DSD_moa,
       DSD_Static,
#      DSD_Dynamic,
       DSD_ReadStream)

S3method(getPoints, moa)
S3method(getPoints, Static)
#S3method(getPoints, Dynamic)
S3method(getPoints, ReadStream)
