import(rJava)

export(cluster,
       DenStream,
       CobWeb,
       Clustream,
       convertParams,
       create_stream,
       get_instance,
       get_centroids)
#       DS)

S3method(print, ClusterDS)
S3method(print, DS)
